body,h1,h2,h3,h4,h5,h6,p,ul,li,dt,dd{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(245, 245, 245);
    height: 10000px;
}
ul,ol{
    /* 去掉小圆点 */
    list-style: none; 
    /* padding-inline-start: 0px; */
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    /* 父元素的百分比 */
    font-size: 100%; 
}
b,strong{
    font-weight: 400;
}
i,em{
    /* 不倾斜 */
    font-style: normal;
}
u,ins,s,del{
    text-decoration: none;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
}
img{
    /* 去掉底部留白 */
    display: block;
}
input,button{
    /* 去掉轮廓线 */
    padding: 0;
    outline: none;
    border: none;
}
input{
    /* 去掉表单默认的内边距 */
    padding: 0;
}
.clearFix::after{
    content: "";
    display: block;
    clear: both;
}

body{
    color: #333;
    font:14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
a{
    color:  #b0b0b0;
    text-decoration: none;
}
a:hover{
    color: #fff;
}

